body {
    font-size: 70%;
}
.ui-widget {
    font-size: 70%;
}
.ui-widget .ui-widget {
    font-size: 80%;
}

.ui-carousel {
    width: 900px !important;
}
.ui-carousel-viewport {
    width: 900px !important;
}